header{
  background-color: ;
  text-align: center;
}
header ul{
  margin: 300px auto 0 auto;
  max-width: 800px;
  overflow: auto;
}

header li{
  background-color: red;
  float: left;
  text-align: center;
  width: 25%;
}

.portfolio-header {

}
