@import 'reset';

.Title {
margin-left: 5%;
margin-top: 20px;
margin-bottom: 10px;
font-size: 22px;
font-weight: bold;
}

.search-bar {
margin-left: 5%;
}

.results {
  max-width: 20%;
  margin-top: 10px;
}

.box {
  border: 1px solid black;
  padding: 10px;
}

.box:hover {
  font-weight: bold;
  background-color: rgb(230,230,230);
}
