  .title {font-size:136px;
        font-family: sans-serif;
        padding:0;
        margin:0;
        border:0;
        text-align:center;
}
  .date{text-align: center;
}
  .datetag{background-color: rgba(185, 56, 43, 1.0);
          color:white;
          border:4px;
        width:40px;
      display:inline;
      text-align: center;
      border-radius: 3px;
}
  .linkcolor{color: rgba(37, 86, 191, 1.0)
}
  img{width: 200px;
      height: 200px;
      margin: auto;
      display: block;
}

  .p1{text-align: center;
      font-family: sans-serif;
      font-size:26px;
      padding: 0px;
}
  .p2{text-align: center;
      font-family: sans-serif;
}

.p3 {
  text-align: left;
  font-family: serif;
  padding-left: 100px;
  padding-right: 100px;
}
  .p4{text-align: center;
      font-family: sans-serif;
      font-size:26px;
      padding: 0px;
}
  .p5{text-align: center;
      font-family: sans-serif;
}
  .p6{text-align: left;
     font-family: serif;
     padding-left: 100px;
     padding-right: 100px;
     margin-bottom: 50px;
}
