/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end of reset*/

.box-1{
  background-image: url('http://d36s929gmfcqwt.cloudfront.net/assets/cellucor-900-f5184e18ba82098b3fb785136068ea366452d8255e6f7d3ae12f081511ace1a3.jpg');
  background-position: center;
  background-size: cover;
  width: 33.3333%;
  height: 400px;
  float: left;
  text-align: center;
  position: relative;
}

.box-1 h1 {
	transition-property: margin-top;
	transition-delay: initial;
	transition-duration: 100ms;
	transition-timing-function: ease-out;
}

.box-1:hover h1 {
	transition-property: margin-top;
	margin-top: 15%;
}

.box-1:hover .inner{
  opacity: 1;
}

.box-1:hover .cover{
  background-color: rgba(0, 0, 0, 0.6);
}

.box-2 h1 {
	transition-property: margin-top;
	transition-delay: initial;
	transition-duration: 100ms;
	transition-timing-function: ease-out;
}

.box-2:hover h1 {
	transition-property: margin-top;
	margin-top: 15%;
}

.box-2:hover .inner{
  opacity: 1;
}

.box-2:hover .cover{
  background-color: rgba(0, 0, 0, 0.6);
}

.box-3 h1 {
	transition-property: margin-top;
	transition-delay: initial;
	transition-duration: 100ms;
	transition-timing-function: ease-out;
}

.box-3:hover h1 {
	transition-property: margin-top;
	margin-top: 15%;
}

.box-3:hover .inner{
  opacity: 1;
}

.box-3:hover .cover{
  background-color: rgba(0, 0, 0, 0.6);
}

.box-2{
  background-image:  url('http://d36s929gmfcqwt.cloudfront.net/assets/over-900-53c527bebb017cd9c1700ffc2b20a6cc57826bfae40ecb75f62b78d88163a5aa.jpg');
  background-position: center;
  background-size: cover;
  width: 31.3333%;
  height: 400px;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
  position: relative;

}
.box-3{
  background-image:
  url('http://d36s929gmfcqwt.cloudfront.net/assets/bts-900-3f97cb6396ffc3afb67dce1fd5545709254b2ffdd261dd9106b57327d8d158e0.jpg');
  background-position: center;
  background-size: cover;
  width: 33.3333%;
  height: 400px;
  float: left;
  text-align: center;
  position: relative;
}

.cover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

p {
  font-size: 22px;
  padding: 2px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 2%;
  position: relative;
}

h1 {
  font-size: 52px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 25%;
  position: relative;
}

.inner {
  opacity: 0;
  padding: 15px;
  border: 1px white solid;
  color: white;
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
	border-radius: 2px;
}

.inner:hover {
  color: black;
  background-color: white;
}
