/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*==========
end of reset
==========*/

.octodex {
  padding: 20px;
  width: 960px;
  overflow: auto;
  margin: 0 auto;
  margin-top: 100px;
}

.octocat {
  border-bottom: lightgray 1px solid;
  float: left;
  width: 31%;
  margin: 1%;
}

.octocat img {
  max-width: 100%;
  border: lightgray 1px solid;
  border-radius: 2px;
}

.authors {
	display: inline;
}

.authors li {
	display: inline;
}

.authors img {
  width: 20px;
  border-radius: 2px;
	border: none;
	margin: 2px;
	vertical-align: middle;

}

.image-footer {
  overflow: auto;
  margin-top: 5px;
}

.image-number {
  text-align: left;
  float: left;
	width: 20%;
  color: lightgray;
  font-weight: bold;
  font-size: 12px;
	height: 20px;
	margin-top: 5px;
}

.push-down {
	margin-top: 5px;
}

.image-caption {
  float: right;
	font-family: Helvetica;
	color: gray;
	font-size: 12px;
	width: 70%;
	text-align: right;
	display: inline;
}

.image-caption a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}
