@import 'reset';


.planet-list {
  // padding: 10px;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: 28px;
  font-family: 'Galada', cursive;
  height: 100%;
  overflow: auto;
}

li {
  outline: 1px solid black;
  padding: 10px;
  background-color: white;
  color: black;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  width: 400px;
}

.planet div, .starship div{
  margin-left: 10px;
}

.star-wars {
  background-image: url("http://nerdreactor.com/wp-content/uploads/2015/10/star_wars_the_force_awakens_horizontal_poster_header.jpg");
  background-size: auto;
}

img {
  width: 100%;
  height: 380px;
}

.sw-logo {
  width: 142px;
  height: 142px;
  float: left;
  border-radius: 10px;
  margin-right: 5px;
  margin-top: 4px;

}

.planet .name, .starship .name {
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}

.paragraph {
  font-family: 'Lato', sans-serif;
  color: white;
  padding: 15px;
  font-size: 18px;
}

.theList {
  width: 33%;
  float: left;
}

.text {
  width: 60%;
  float: left;
}

header {
  background-color: gray;
  height: 40px;
  width: 100%;
  font-family: 'Galada', cursive;
  margin-bottom: 15px;
}

.tabs {
  padding: 5px;
  font-size: 16px;
  padding-top: 15px;
  border: 1px solid white;
  display: inline-block;
  float: left;
}

.image-holder {
  max-width: 800px;
  height: 380px;
  margin: 0 auto;
  // background-color: rgb(0,50,100);
  background-image: url("http://nerdreactor.com/wp-content/uploads/2015/10/star_wars_the_force_awakens_horizontal_poster_header.jpg");
  background-size: auto;
}
