@import 'reset';

p {
  color: red;
}

.planet-list {
  padding: 10px;
  border: 1px solid black;
}

li {
  outline: 1px solid black;
  padding: 10px;
}

.moreInfo {
  color: green;
}

.planet div{
  margin-left: 10px; 
}
