@import 'reset';

.beer-info {
  padding: 15px;
  z-index: 1;
  position: fixed;
}

.beer-info li {
  padding: 5px;
  border: 1px solid black;
  width: 400px;
  background-color: white;
  color: black;
}

.side-bar {
        width: 15%;
        height: 100%;
        background-color: green;
        float: left;
      }

// input {
//   left: 5px;
//   top: 15%;
//   position: fixed;
// }

#Title-beer {
  font-size: 24px;
  font-weight: bold;
}

#control{
		float: left;
		color: black;
		width: 15%;
    height: 100%;
    background-color: lightblue;
	}

  #control h2, p {
    padding: 20px 30px 10px 30px;

  }

	#control input[type=text]{
		width: 60%;
		height: 30px;
		font-size: 16px;
		background-color: rgb(240,255,255);
		border: 1px solid black;
    margin-left: 30px;
	}

  #control button {
    margin-left: 30px;
      margin-top: 10px;
  }
