.contains-all div {
  border: 1px solid black;
  width: 600px;
  display: none;
  padding: 35px;
  font-weight: bold;
}


.formName {
  background-color: lightblue;
  /*display: none;*/
}

.formAge {
  background-color: pink;
  /*display: none;*/
}

.formCareer {
  background-color: yellow;
  /*display: none;*/
}

.contains-all .on {
  display: block;
}

.error {
	border: 1px solid red;
}
