.contains-all div {
  border: 1px solid black;
  width: 600px;
  margin: 25px;
  padding: 35px;
  font-weight: bold;
  display: none;
}

button {
  margin-top: 10px;
  display: block;
}

.form-name {
  background-color: lightblue;
}

.form-age {
  background-color: pink;
}

.form-career {
  background-color: yellow;
}

.on {
  display: block;
}
