.container {
  width: 500px;
  margin: 0 auto;
}

.top-section {
  margin-top: 50px;
}

.trump-intro {
  background-image: url('Trump-in-progress.jpg');
  border: 2px solid black;
  background-size: cover;
  height: 300px;
  border-radius: 5px;
  box-shadow: 8px 8px 5px #888888;
  margin-bottom: 20px;
  display: none;
}

.playing-page {
  border: 2px solid black;
  height: 300px;
  border-radius: 5px;
  box-shadow: 8px 8px 5px #888888;
  margin-bottom: 20px;
  display: none;
  text-align: center;
}

.playing-page button {
  margin-top: 20px;
  background-color: red;
  color: white;
}

.playing-page p {
  margin: 20px;
  font-weight: bold;
  font-size: 18px;
  display: none;
  padding: 1px;
}

.right-wrong-line {
  margin-top: 20px;
  overflow: auto;
}

.counting-display {
  text-align: left;
  border: 1px solid black;
}

.wrong-display li {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  margin: 10px;
  list-style: none;
  float: left;
}

.winning-page {
  background-image: url('trump-happy.jpg');
  background-size: cover;
  height: 300px;
  border-radius: 5px;
  box-shadow: 8px 8px 5px #888888;
  margin-bottom: 20px;
  display: none;
}

.losing-page {
  background-image: url('Trump-sad-face.jpg');
  background-size: cover;
  height: 300px;
  border-radius: 5px;
  box-shadow: 8px 8px 5px #888888;
  margin-bottom: 20px;
  display: none;
}

.Play-button {
  text-align: center;
  padding: 10px 20px;
  color: white;
  background-color: red;
  border: 1px solid black;
  box-shadow: 2px 2px 5px #888888;
  border-radius: 3px;
}

.show {
  display: block;
}
