h1 {
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  width: 250px;
}

ul {
  border: 1px black solid;
  text-align: center;
  width: 150px;
  background-color: lightgray;
  border-radius: 5px;
}

button {
  width: 100px;
  background-color: blue;
  height: 50px;
  color: white;
  border-radius: 5px;
}

.change-below {
  background-color: pink;
  border: 2px solid black;
  padding: 20px;
}
