/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset - replicating www.*/

nav{
border: solid 1px black;
background-color: rgba(254, 125, 55, 1.0);
overflow: auto;
padding: 11px 0
}

.container {
  max-width: 960px;
  margin: 0 auto 0 auto;
}
.nav-content {
  background-color: lightgreen;
  overflow: auto;
  float: left;
  padding: 1px;
}

.nav-content li {
  outline: solid 1px black;
  float: left;
}

.nav-info {
  overflow: auto;
  background-color: lightblue;
  outline: dashed 1px red;
  float: right;
}

.nav-info li {
  outline: solid 1px black;
  float: left;
}

header {
  background-color: rgba(254, 147, 25, 1.0);
  clear: both;
  padding: 40px 0 45px 0;
  text-align: center;
}

header h1 {
  font-size: 6em;
}

header h2 {
  font-size: 2em;
}

article {

}

.supplementary {
  background-color: yellow;
  float: left;
  width: 15%;
}

.post {
  background-color: pink;
  float: left;
  width: 85%;
}

.paging {
  clear: both;
  text-align: center;
}
