.blog-post img{
  width: 500px;
  text-align: center;
}

.blog-post header {
  border: 1px solid black;
}

.blog-post .post-body {
  border: 1px solid black;

}

.blog-post .related {
  border: 1px solid black;
}
